<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu các môn học</title>
    <link rel="stylesheet" href="/CSS/TrangChu.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Giới thiệu các môn học</h1>
        </div>
    </header>
    <section class="content">
        <div class="container">
            <h2>Chào mừng bạn đến với trang web giới thiệu môn học</h2>
            <p>Teky luôn cung cấp các khóa học hấp dẫn với nội dung phong phú và chất lượng.</p>
        </div>
        <div class="courses-wrapper">
            <div class="course-1">
                <img src="https://s3-sgn10.fptcloud.com/teky-prod/teky-edu-vn/media/marketing_featured_image/2022/05/31/_DSC6701.JPG" alt="">
                    <div class="contentC">
                        <h4>SIÊU NHÂN LẬP TRÌNH WEB</h4>
                        <P>
                            Phát triển tư duy ứng dụng, sáng tạo cá tính và nuôi dưỡng tinh thần doanh nhân công nghệ trong thời đại 4.0; 
                            Theo chuẩn Kiến thức Khoa học máy tính CSTA cho K12 của Mỹ
                        </P>
                    </div>
            </div>
            <div class="course-1">
                <img src="https://s3-sgn10.fptcloud.com/teky-prod/teky-edu-vn/media/marketing_featured_image/2022/05/29/BLG_-_6.jpg" alt="">
                    <div class="contentC">
                        <h4>BÉ LÀM GAME</h4>
                        <P>
                            Xây dựng đam mê, tạo nền tảng kiến thức Công nghệ; 
                            Sử dụng giáo trình xuất sắc tại Mỹ với 50 triệu học sinh & 60,000 trường học trên toàn cầu                        </P>
                    </div>
            </div>
            <div class="course-1">
                <img src="https://s3-sgn10.fptcloud.com/teky-prod/teky-edu-vn/media/marketing_featured_image/2022/06/03/_DSC5892.JPG" alt="">
                    <div class="contentC">
                        <h4>XƯỞNG CHẾ TẠO ROBOT</h4>
                        <P>
                            Phát triển tư duy ứng dụng công nghệ vào thực tiễn và sáng tạo cá tính; 
                            Theo chuẩn kiến thức Kỹ thuật Công nghệ ETS cho K12 của Mỹ
                        </P>
                    </div>
            </div>
        </div>
    </section>

    <div class="test"></div>
    
</body>
</html>
